html, body {
  width: 100%;
  height: 100%;
}

.caroussel {
  width: 80%;
  overflow: hidden;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  position: relative;
}

.caroussel #caroussel-block {
  position: relative;
}

.caroussel #caroussel-block > div {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
  transition: 0.6s ease opacity;
  -moz-transition: 0.6s ease opacity;
  -webkit-transition: 0.6s ease opacity;
  -o-transition: 0.6s ease opacity;
}

.caroussel #caroussel-block > div.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.caroussel #caroussel-block > div.moveback {
  opacity: 0;
}

.caroussel #caroussel-block > div img {
  width: 100%;
}

.shortlink {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.shortlink .center {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.shortlink .center div {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border: 3px orange solid;
  margin-top: 5px;
}

.shortlink .center div:hover {
  background: rgba(255, 232, 0, 0.56);
  cursor: pointer;
}

.arrow #right-arrow, .arrow #left-arrow {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  z-index: 20;
  color: white;
  font-weight: bold;
  width: 30px;
  background: rgba(255, 255, 255, 0.3);
  max-height: 500px;
  font-size: 30px;
  cursor: pointer;
}

.arrow #left-arrow {
  left: 0;
}

.arrow #right-arrow {
  right: 0;
}

.arrow #right-arrow span, .arrow #left-arrow span {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 0;
}
