span {
  display: block;
  width: 30px;
  height: 25px;
  margin: 15px;
  float: left;
  line-height: 25px;
  background: #EEE;
  border: 1px solid rgb(171, 171, 171);
  cursor: pointer;
}

.mid-block {
  width: 190px;
  float: left;
  text-align: center;
}

#result, #coordonnee {
  width: 380px;
  background: rgb(194, 194, 194);
  height: 30px;
  line-height: 30px;
  color: #333;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
