<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="js/models/task.js"> </script>
    <script src="js/collections/tasks.js"> </script>
  </head>
  <body>
    <header>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Task Manager</a></h1>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="row">
        <div id="main_block" class="large-11 large-centered columns content">
          <div data-alert class="alert-box alert radius" id="error"></div>
          <!-- Pour l'arrivée sur la page le temps que l'Ajax s'éxecute -->
          <div id="loading">
            <div id="circular3dG">
              <div id="circular3d_1G" class="circular3dG"></div>
              <div id="circular3d_2G" class="circular3dG"></div>
              <div id="circular3d_3G" class="circular3dG"></div>
              <div id="circular3d_4G" class="circular3dG"></div>
              <div id="circular3d_5G" class="circular3dG"></div>
              <div id="circular3d_6G" class="circular3dG"></div>
              <div id="circular3d_7G" class="circular3dG"></div>
              <div id="circular3d_8G" class="circular3dG"></div>
            </div>
          </div>

          <div class="new_task text-center">
            <h1 class="subheader">Pour créer une tâche, cliquez sur ce <kbd id="task_new">+</kbd></h1>
            <div id="new-wrapper">
              <input type="text" placeholder="Title" value=""/>
              <textarea rows="6"></textarea>
              <select>
                <option value="low">Basse</option>
                <option value="medium">Moyenne</option>
                <option value="high">Haute</option>
              </select>
              <button id="task_create">Créer !</button>
            </div>
          </div>


          <script id="task-template" type="text/template">
            <% _.each(tasks, function(taskItem) { %>
              <div class='task' id='<%= taskItem.id %>'>
                <dl class='sub-nav'>
                  <dd class='active'><a href='#'><%= taskItem.task.title %></a></dd>
                  <dd class='bind-edit' ><a href='#'>Editer</a></dd>
                  <dd class='bind-delete'><a href='#'>Supprimer</a></dd>
                  <dd class='priority-<%= taskItem.task.priority %>'></dd>
                </dl>
                <div class='panel panel-override radius'>
                  <p><%= taskItem.task.content %></p>
                  <div id='edit_block_<%= taskItem.task.id %>' class='hidden'>
                    <input type='text' placeholder='Title' />
                    <textarea rows='6'></textarea>
                    <select>
                      <option value='low'>Basse</option>
                      <option value='medium'>Moyenne</option>
                      <option value='high'>Haute</option>
                    </select>
                    <button id='button-<%= taskItem.id %>'>Editer</button>
                  </div>
                </div>
              </div>
            <% }); %>
          </script>

          <div id="tasks-container" class="not-hidden"></div>
        </div>
      </div>
    </main>
  </body>
  <script src="js/views/test.js"> </script>
</html>
